html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px 2px 10px 2px;
}
/* header styles------------------------------------------------------------------------ */

a{
  color: inherit;
}

.navbar{
  justify-content: space-around;
  width: 100%;
  height: 82px;
  background-color: #07294D;

}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* color: rgba(0,0,0,.5); */
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
}
.dropdown-item {
  display: block;
  width: 100%;
  /* padding: .25rem 1.5rem; */
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #07294D;
  border: 0;
}

@media (max-width: 998px){
  .navbar-light .navbar-nav .nav-link{
      color: #07294D;
  }
}
.our-team {
  height: 100vh;
  margin-bottom: 0;
}

.team-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 10px 0 40px 0;
}

.our-team-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parti-list-item {
  max-width: 500px;
  max-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 5px 5px 0px 0px;
  position: relative;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.parti-list-item::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 4.11px;
  left: 0px;
  top: 0px;
  background: linear-gradient(138.01deg, #0072FF 13.55%, #0E4F96 41.01%, #07294D 94.74%);
}

.parti-about {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.parti-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.parti-img img {
  width: 100%;
}

.parti-title {
  font-family: Montserrat sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  -webkit-animation: animate 3s steps(100) infinite;
          animation: animate 3s steps(100) infinite;
  overflow: hidden;
  white-space: nowrap;
}

@-webkit-keyframes animate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes animate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.parti-major {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #0A3A6D;
  text-transform: capitalize;
}

.parti-txt {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

@media (min-width: 750px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1170px) {
  .container {
    max-width: 1070px;
    margin: 0 auto;
  }
}
